---
import { Image } from 'astro:assets';
import Logo from '/src/logo-placeholder.png'
---
<div class="bg-sky-700 px-12 pt-12 pb-16 grid auto-rows-fr sm:grid-cols-3 items-center">
  <a class="transition-all duration-300" :class="{'h-28 w-28': !scrolledFromTop, 'h-16 w-16': scrolledFromTop}" href="#">
    <Image class="h-48 w-48" src={Logo} alt="placeholder fictional company logo">
  </a>
  <div>
    <h3 class="text-amber-300">Contact</h3>
    <ul class="text-white text lg md:text-xl">
      <li><a>some</a></li>
      <li><a>links</a></li>
      <li><a>right</a></li>
      <li><a>here</a></li>
    </ul>
  </div>
  <div>
    <h3 class="text-amber-300">Get a free quote today!</h3>
    <button class="px-6 m-2 text-white transition-colors duration-300 bg-red-600 rounded-lg focus:shadow-outline hover:bg-red-700" :class="{'h-12 text-xl': !scrolledFromTop, 'h-10 px-4 text-lg': scrolledFromTop}">Get a Free Quote!</button>
  </div>
</div>