<div class="bg-black h-50">
  <!-- Hero Section -->
  <div class="flex flex-col md:flex-row h-[80vh]">
    <!-- Left Panel (Text Content) -->
    <div class="flex-1 flex items-center justify-center bg-stone-800 text-white">
        <div class="text-center">
            <h1 class="text-3xl lg:text-6xl font-bold mb-4 text-amber-300 font-albert-sans px-20 animate-fadein">Your Reliable Brooklyn&nbsp;Plumbers</h1>
            <h3 class="text-xl lg:text-3xl px-20 font-barlow animate-fadein delay-500">Quality plumbing services for your home or&nbsp;business.</h3>
            <a href="#contact-form" class="mt-4 inline-block bg-red-600 hover:bg-red-700 text-white text-lg px-6 py-3 rounded-lg animate-wiggle delay-1000">Contact Us</a>
        </div>
    </div>
    
    <!-- Right Panel (Image) -->
    <div class="flex-1 bg-cover bg-center animate-fadein" style="background-image: url('/src/plumber-fixing-a-sink.jpeg');"></div>
</div>
</div>