---
import { Image } from 'astro:assets';
import Logo from '/src/logo-placeholder.png'
---

<header x-data="{navbarOpen: false, scrolledFromTop: false}" @scroll.window="window.pageYOffset > 60 ? scrolledFromTop = true : scrolledFromTop = false" class="fixed flex justify-between items-center px-4 md:px-12 h-24 bg-sky-700 w-full transition-all duration-200 z-10" :class="{'h-32': !scrolledFromTop, 'h-14': scrolledFromTop}">
    <a class="transition-all duration-300 animate-fadeinleft" :class="{'h-28 w-28': !scrolledFromTop, 'h-16 w-16': scrolledFromTop}" href="#">
        <Image src={Logo} alt="placeholder fictional company logo">
    </a>
    <nav>
        <button @click="navbarOpen = !navbarOpen" class="md:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 ">
                s<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>   
        </button>
        <ul class="fixed left-0 right-0 min-h-screen bg-sky-700 text-amber-300 font-barlow space-y-4 p-4 transform translate-x-full transition duration-300 md:relative md:flex md:items-center md:min-h-0 md:space-y-0 md:space-x-6 md:p-0 md:translate-x-0 animate-fadeinright" :class="{'translate-x-full': !navbarOpen, 'translate-x-0': navbarOpen}">
            <li>
                <a class="" :class="{'text-xl': !scrolledFromTop, 'text-lg transform duration-300 ease': scrolledFromTop}" href="/">Home</a>
            </li>
            <li>
                <a class="":class="{'text-xl': !scrolledFromTop, 'text-lg transform duration-300 ease': scrolledFromTop}" href="/about">About</a>
            </li>
            <li>
                <a class="" :class="{'text-xl': !scrolledFromTop, 'text-lg transform duration-300 ease': scrolledFromTop}" href="#reviews">Reviews</a>
            </li>
            <li>
                <a class="" :class="{'text-xl': !scrolledFromTop, 'text-lg transform duration-300 ease': scrolledFromTop}" href="#contact">Contact Us</a>
            </li>
            <li>
               <button class="px-6 m-2 text-white transition-colors duration-300 bg-red-600 rounded-lg focus:shadow-outline hover:bg-red-700" :class="{'h-12 text-xl': !scrolledFromTop, 'h-10 px-4 text-lg': scrolledFromTop}">Get a Free Quote!</button>
            </li>
        </ul>
    </nav>
</header>