<!-- Reviews Section -->
<section class="bg-stone-100 pt-6 pb-20">
  <div class="container mx-auto">
    <h3 class="text-stone-800 text-5xl pt-6 pb-12 text-center">Customer Reviews</h3>

      <div x-data="{ shown: false }" x-intersect="shown = true" class="flex flex-wrap justify-center">
          <!-- Review Card 1 -->
          <div 
            x-show="shown" 
            x-transition:enter="transition ease-in duration-500"
            x-transition:enter-start="opacity-0 -translate-x-5"
            x-transition:enter-end="opacity-100 translate-x-0"
            class="max-w-sm mx-4 mb-8 bg-slate-50 shadow-lg rounded-lg overflow-hidden">
              <div class="px-6 py-4">
                  <div class="flex items-center mb-4">
                      <div class="text-xl  text-slate-800 font-bold">John Doe</div>
                      <div class="ml-auto flex">
                        <i class="fa-solid fa-star" style="color: #fcd34d;"></i>
                        <i class="fa-solid fa-star" style="color: #fcd34d;"></i>
                        <i class="fa-solid fa-star" style="color: #fcd34d;"></i>
                        <i class="fa-solid fa-star" style="color: #fcd34d;"></i>
                        <i class="fa-solid fa-star" style="color: #fcd34d;"></i>
                      </div>
                  </div>
                  <p class="text-slate-800 text-base">
                      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                  </p>
              </div>
          </div>

          <!-- Review Card 2 -->
          <div 
            x-show="shown" 
            x-transition:enter="transition ease-in duration-500"
            x-transition:enter-start="opacity-0 translate-y-5"
            x-transition:enter-end="opacity-100 translate-y-0"
            class="max-w-sm mx-4 mb-8 bg-white shadow-lg rounded-lg overflow-hidden">
              <div 
                class="px-6 py-4">
                  <div class="flex items-center mb-4">
                      <div class="text-xl font-bold">Jane Smith</div>
                      <div class="ml-auto flex">
                        <i class="fa-solid fa-star" style="color: #fcd34d;"></i>
                        <i class="fa-solid fa-star" style="color: #fcd34d;"></i>
                        <i class="fa-solid fa-star" style="color: #fcd34d;"></i>
                        <i class="fa-solid fa-star" style="color: #fcd34d;"></i>
                        <i class="fa-solid fa-star" style="color: #fcd34d;"></i>
                      </div>
                  </div>
                  <p class="text-gray-700 text-base">
                      "Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
                  </p>
              </div>
          </div>

          <!-- Review Card 3 -->
          <div 
            x-show="shown" 
            x-transition:enter="transition ease-in duration-500"
            x-transition:enter-start="opacity-0 translate-x-5"
            x-transition:enter-end="opacity-100 translate-x-0"
            class="max-w-sm mx-4 mb-8 bg-white shadow-lg rounded-lg overflow-hidden">
              <div class="px-6 py-4">
                  <div class="flex items-center mb-4">
                      <div class="text-xl font-bold">Robert Johnson</div>
                      <div class="ml-auto flex">
                        <i class="fa-solid fa-star" style="color: #fcd34d;"></i>
                        <i class="fa-solid fa-star" style="color: #fcd34d;"></i>
                        <i class="fa-solid fa-star" style="color: #fcd34d;"></i>
                        <i class="fa-solid fa-star" style="color: #fcd34d;"></i>
                        <i class="fa-solid fa-star" style="color: #fcd34d;"></i>
                      </div>
                  </div>
                  <p class="text-gray-700 text-base">
                      "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."
                  </p>
              </div>
          </div>
      </div>
  </div>
</section>